*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Figtree', sans-serif;
    padding: 0 16px;
}
.card{
    background-color: #ffffff;
    max-width: 375px;
    width: 100%;
    padding: 24px;
    border: 2px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 8px 8px 0px hsl(0, 0%, 7%);
    overflow: hidden;
    box-sizing: border-box;
}
.card:hover{
    box-shadow: 12px 12px 0px #111111;
    cursor: pointer;
}
.card-img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.tag{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 900;
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 14px;
    margin-top: 18px;
    
}
.publish-date{
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 7%);
    margin-bottom: 12px;
   
}
.card-title a{
    font-size: 24px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 12px;
    
}
.card-title a:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.author-info {
    display: flex;
    align-items: center;
    gap: 12px;
    
}
.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.author-name{
    font-size: 14px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}
.card-desc{
    font-size: 17px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
    margin-bottom: 24px;
    width: 100%;
    letter-spacing: -1px;
}
@media (min-width:500px){
    .card{
        max-width: 384px;
    }
}